<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>link extractor</title>
</head>
<style>

.desk {
  display: flex;
  justify-content: center;
}

</style>
<body>
<div class="desk">
    <span >
        <div>
            <h2 style="text-align: center">
                لینک را در اینجا وارد کنید
            </h2>
        </div>
        <span style="text-align: center">
            <form action="/link" method="post" autocomplete="off">
                <input type="text" name="link" size="40" required >
                <br>
                <br>
                <input type="submit" value="تایید">
            </form>
        </span>
    </span>
</div>
</body>
</html>